* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
body {
  background-color: #e4edf4;
  font-size: 100%;
}
.header {
  display: flex;
  height: 135px;
  z-index: 5;
  position: relative;
}
.header .logo {
  width: 20%;
  height: 135px;
  background-color: #51afe1;
  color: white;
  position: relative;
}
.header .logo h2 {
  font-size: 1.875em;
  font-family: 'Montserrat-Regular';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
}
.header .remote {
  width: 80%;
  height: 135px;
  background-color: #6fcdff;
}
.header .remote .addFilm {
  position: relative;
  top: 50px;
  left: 8%;
  display: inline-block;
  width: 200px;
}
.header .remote .addFilm img {
  transform: rotate(45deg);
  transition: all 0.5s ease;
  height: 40px;
  width: 40px;
}
.header .remote .addFilm span {
  color: white;
  font-size: 1em;
  font-family: 'Open Sans';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.movie {
  margin-bottom: 20px;
  margin-top: 50px;
  display: block;
}
.movie .film {
  display: flex;
  position: relative;
  left: 20%;
  width: 60%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120%;
  color: white;
  font-family: "Montserrat-Regular";
}
.movie .film:after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.4;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.movie .film .poster {
  position: relative;
  width: 40%;
  height: 100%;
  float: left;
  z-index: 1;
}
.movie .film .poster img {
  width: 68%;
  height: 74%;
  padding-top: 16%;
  padding-bottom: 16%;
  padding-left: 22%;
  border-radius: 10px;
  -webkit-background-size: cover;
  background-size: cover;
}
.movie .film .info {
  position: relative;
  z-index: 1;
  width: 60%;
  float: left;
}
.movie .film .info ul {
  margin-top: 10%;
  list-style: none;
  width: 80%;
}
.movie .film .info ul li {
  margin-bottom: 25px;
}
.movie .film .info ul li h2 {
  font-size: 2.25em;
}
.movie .film .info .description {
  font-size: 1em;
}
.movie .film .info .tegs {
  font-size: 0.75em;
  text-transform: uppercase;
  width: 70px;
  display: inline-block;
  vertical-align: top;
}
.movie .film .info .bold {
  font-size: 1em;
  font-family: "Montserrat-Bold";
  margin-left: 18%;
  vertical-align: top;
  position: relative;
  top: -3px;
}
.movie .film .info .actors {
  display: inline-block;
  width: 65%;
}
.movie .film .info .delete {
  transition: all 0.5s ease;
  background-color: #ff7e70;
  border: 1px solid #ff695a;
  -webkit-box-shadow: 0px 3px 15px 0px rgba(255, 126, 112, 0.7);
  -moz-box-shadow: 0px 3px 15px 0px rgba(255, 126, 112, 0.7);
  box-shadow: 0px 3px 15px 0px rgba(255, 126, 112, 0.7);
}
.movie .film .info .delete:hover {
  cursor: pointer;
  background-color: #ff4633;
}
.movie .film .info .edit {
  transition: all 0.5s ease;
  background-color: #6ecdfd;
  border: 1px solid #2fa5e1;
  -webkit-box-shadow: 0px 3px 15px 0px rgba(110, 205, 253, 0.7);
  -moz-box-shadow: 0px 3px 15px 0px rgba(110, 205, 253, 0.7);
  box-shadow: 0px 3px 15px 0px rgba(110, 205, 253, 0.7);
}
.movie .film .info .edit:hover {
  cursor: pointer;
  background-color: #268cc0;
}
.movie .film .info .btn {
  position: relative;
  display: inline-block;
  width: 140px;
  height: 45px;
  border-radius: 40px;
  margin-right: 25px;
  margin-bottom: 50px;
}
.movie .film .info .textDel,
.movie .film .info .textEd {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.movie .coments {
  padding-top: 40px;
  position: relative;
  left: 20%;
  width: 60%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
  color: black;
  font-family: "Montserrat-Regular";
  z-index: 2;
}
.movie .coments .count {
  border-bottom: 2px solid #e4edf4;
  padding-bottom: 40px;
  margin-left: 8.5%;
  margin-right: 8.5%;
}
.movie .coments .count span {
  color: #ff7e70;
  font-family: 'OpenSans-Bold';
  cursor: pointer;
}
.movie .coments .count .count_coment {
  color: #ff7e70;
  cursor: pointer;
}
.movie .coments .count img {
  cursor: pointer;
}
.movie .coments ul {
  display: none;
}
.movie .coments ul li {
  padding: 35px 0px;
  border-bottom: 2px solid #e4edf4;
  margin-left: 8.5%;
  margin-right: 8.5%;
}
form button {
  padding: 10px 20px;
}
.adds {
  color: white;
  transition: all 0.5s ease;
  margin-bottom: 50px;
  position: relative;
  display: inline-block;
  width: 140px;
  height: 45px;
  border-radius: 40px;
  background-color: #6ecdfd;
  border: 1px solid #2fa5e1;
  -webkit-box-shadow: 0px 3px 15px 0px rgba(110, 205, 253, 0.7);
  -moz-box-shadow: 0px 3px 15px 0px rgba(110, 205, 253, 0.7);
  box-shadow: 0px 3px 15px 0px rgba(110, 205, 253, 0.7);
}
.adds:hover {
  cursor: pointer;
  background-color: #38afeb;
}
.cancel {
  color: white;
  transition: all 0.5s ease;
  margin-right: 20px;
  margin-bottom: 50px;
  margin-left: 8.5%;
  background-color: #ff7e70;
  border: 1px solid #ff695a;
  -webkit-box-shadow: 0px 3px 15px 0px rgba(255, 126, 112, 0.7);
  -moz-box-shadow: 0px 3px 15px 0px rgba(255, 126, 112, 0.7);
  box-shadow: 0px 3px 15px 0px rgba(255, 126, 112, 0.7);
  position: relative;
  display: inline-block;
  width: 140px;
  height: 45px;
  border-radius: 40px;
}
.cancel:hover {
  cursor: pointer;
  background-color: #ff4633;
}
.textCan,
.textAdd,
.textEd {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.edits {
  color: white;
  transition: all 0.5s ease;
  margin-bottom: 50px;
  position: relative;
  display: inline-block;
  width: 140px;
  height: 45px;
  border-radius: 40px;
  background-color: #6ecdfd;
  border: 1px solid #2fa5e1;
  -webkit-box-shadow: 0px 3px 15px 0px rgba(110, 205, 253, 0.7);
  -moz-box-shadow: 0px 3px 15px 0px rgba(110, 205, 253, 0.7);
  box-shadow: 0px 3px 15px 0px rgba(110, 205, 253, 0.7);
}
.edits:hover {
  cursor: pointer;
  background-color: #268cc0;
}
#form_coment {
  margin-left: 8.5%;
}
#coment_text {
  margin-top: 30px;
  outline: none;
  resize: none;
  overflow: auto;
  height: 40px;
  width: 90%;
  border: 1px solid #e4edf4;
  font-size: 1em;
  font-family: 'Montserrat-Regular';
  padding-top: 20px;
  padding-left: 10px;
  border-radius: 5px;
}
#add_coment {
  color: white;
  transition: all 0.5s ease;
  position: relative;
  display: inline-block;
  width: 140px;
  height: 45px;
  border-radius: 40px;
  background-color: #6ecdfd;
  margin-bottom: 50px;
  margin-top: 25px;
  border: 1px solid #2fa5e1;
  -webkit-box-shadow: 0px 3px 15px 0px rgba(47, 165, 225, 0.4);
  -moz-box-shadow: 0px 3px 15px 0px rgba(47, 165, 225, 0.4);
  box-shadow: 0px 3px 15px 0px rgba(47, 165, 225, 0.4);
}
#add_coment:hover {
  cursor: pointer;
  background-color: #268cc0;
}
.textAdd {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.arrow {
  margin-left: 5px;
  transform: rotate(180deg);
  transition: all 0.5s ease;
}
.otstup {
  height: 50px;
}
#overlay {
  z-index: 3;
  /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
  position: fixed;
  /* всегдa перекрывaет весь сaйт */
  background-color: #000;
  /* чернaя */
  opacity: 0.8;
  /* нo немнoгo прoзрaчнa */
  -moz-opacity: 0.8;
  /* фикс прозрачности для старых браузеров */
  filter: alpha(opacity=80);
  width: 100%;
  height: 100%;
  /* рaзмерoм вo весь экрaн */
  top: 0;
  /* сверху и слевa 0, oбязaтельные свoйствa! */
  left: 0;
  display: none;
  /* в oбычнoм сoстoянии её нет) */
}
.modalwindow {
  position: absolute;
  left: 20%;
  display: none;
  /* Скрываем модальное окно по умолчанию */
  z-index: 9999;
  width: 60%;
  background: #FF5722;
  -webkit-box-shadow: 0px 8px 6px 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 8px 6px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 6px 6px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.close,
.close2 {
  float: right;
  width: 17px;
  height: 17px;
  display: block;
  padding: 10px;
  color: #6fcdff;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-family: arial;
}
#form_add {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 0.875em;
  font-family: 'Montserrat-Regular';
  color: black;
  background-color: #fff;
  width: 100%;
}
#form_add label {
  text-transform: uppercase;
  margin-left: 8.5%;
}
#form_add input {
  width: 50%;
  margin-left: 8.5%;
  padding: 10px;
  font-size: 0.875em;
  font-family: 'Montserrat-Regular';
  border: 1px solid #d0e0eb;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 30px;
}
#form_add textarea {
  margin-left: 8.5%;
  width: 50%;
  font-size: 0.875em;
  font-family: 'Montserrat-Regular';
  padding: 10px;
  resize: none;
  height: 50px;
  border: 1px solid #d0e0eb;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.modalwindow2 {
  position: absolute;
  left: 20%;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  /* Скрываем модальное окно по умолчанию */
  z-index: 9999;
  width: 60%;
  background: white;
  -webkit-box-shadow: 0px 8px 6px 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 8px 6px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 6px 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.close {
  float: right;
  width: 17px;
  height: 17px;
  display: block;
  padding: 10px;
  color: #6fcdff;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-family: arial;
}
#form_edit {
  border-radius: 10px;
  font-size: 0.875em;
  font-family: 'Montserrat-Regular';
  color: black;
  background-color: #fff;
  width: 100%;
}
#form_edit label {
  text-transform: uppercase;
  margin-left: 8.5%;
}
#form_edit input {
  width: 70%;
  margin-left: 8.5%;
  padding: 10px;
  font-size: 0.875em;
  font-family: 'Montserrat-Regular';
  border: 1px solid #d0e0eb;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 30px;
}
#form_edit textarea {
  margin-left: 8.5%;
  width: 70%;
  font-size: 0.875em;
  font-family: 'Montserrat-Regular';
  padding: 10px;
  outline: none;
  resize: none;
  overflow: auto;
  height: 50px;
  border: 1px solid #d0e0eb;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 30px;
}
#form_edit .left {
  width: 50%;
  float: left;
}
#form_edit .right {
  width: 50%;
  float: left;
  margin-top: 12px;
}
